.questionContainer {
  background-color: white;
  padding: 35px 40px 30px 40px;
  min-width: 450px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

.questionContainer h2 {
  margin-bottom: 10px;
  text-align: center;
}
